<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();
                var query = $('input[name="query"]').val();
                $.get('/search', { query: query }, function(data) {
                    var items = data.items;
                    var resultHtml = '';
                    $.each(items, function(index, item) {
                        resultHtml += '<li>';
                        resultHtml += '<h2>' + item.title + '</h2>';
                        resultHtml += '<p>Author: ' + item.author + '</p>';
                        resultHtml += '<p>Publisher: ' + item.publisher + '</p>';
                        resultHtml += '<p>Publish Date: ' + item.pubdate + '</p>';
                        resultHtml += '<p>Description: ' + item.description + '</p>';
                        resultHtml += '<p>Price: ' + item.discount + '</p>';
                        if (item.image) {
                            resultHtml += '<img src="' + item.image + '" alt="Book Image" />';
                        }
                        resultHtml += '</li>';
                    });
                    $('ul').html(resultHtml);
                });
            });
        });
    </script>
</head>
<body>
<h1>Book Search Results</h1>
<form>
    <input type="text" name="query" placeholder="Search for books" required />
    <button type="submit">Search</button>
</form>
<ul></ul>
</body>
</html>
